@charset "utf-8";

@font-face {
	font-family: 'Avenir';
	src:url('../fonts/avenir-next-condensed.ttc');
}

@font-face {
	font-family: 'Gill Sans';
	src:url('../fonts/GillSansStd-Bold.otf');
	font-weight: bolder;
}

@font-face {
	font-family: 'Gill Sans';
	src:url('../fonts/GillSans.ttc');
	font-weight: bold;
}

@font-face {
	font-family: 'Gill Sans';
	src:url('../fonts/GillSansStd-BoldItalic.otf');
	font-weight: bolder;
	font-style: italic;
}

@font-face {
	font-family: 'Gill Sans';
	src:url('../fonts/GillSansStd-Italic.otf');
	font-style: italic;
}

@font-face {
	font-family: 'Gill Sans';
	src:url('../fonts/GillSansStd-Light.otf');
	font-weight: lighter;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:before,
*:after {
	font-family: 'Gill Sans', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: #000;
}

p {
	line-height: 1.5;
}

.cf:before,
.cf:after {
  display: table;
  content: ' ';
}
.cf:after {
  clear: both;
}

.return {
	display: block;
}

/* ---- Header main---- */
header h1 {
	width: 120px;
	display: inline-block;
}

h1 a img {
	width: 100%;
}

header {
	position: absolute;
	top: 5%;
	width: 80%;
	margin-left: 10%;
}

header nav {
	float: right;
}

header li {
	display: inline-block;
	font-family: 'Avenir', sans-serif;
	font-size: 1.3em;
	margin-left: 1em;
}

header li a {
	text-transform: uppercase;
}

/* ---- home header ---- */

#objectif {
	position: relative;
	width: 80%;
	margin: 0 auto;
	padding-top: 9em;
}

#objectif h2 {
	margin-bottom: .6em;
	font-family: 'Avenir', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #c0c0c0;
}

#objectif h3 {
	line-height: 1.2;
	margin-bottom: 5%;
	font-family: 'Gill Sans', sans-serif;
	font-size: 2em;
	font-weight: bold;
}

#objectif .caption {
  width: 40%;
  float: left;
  transform: translateY(45%);
}

#objectif .visuals {
  position: relative;
  width: 50%;
  float: right;
}

#objectif .visuals .first {
  float: right;
}

#objectif .visuals img {
  display: block;
}

#objectif span {
  position: absolute;
  display: block;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  z-index: -1;
  right: 0;
  background: #F1F1F1;
}

#objectif h3+p {
	margin-bottom: 8%;
	font-family: 'Gill Sans', sans-serif;
	font-weight: lighter;
}

#objectif p {
  width: 70%;
}

#objectif a {
	padding: .4em 2em;
	font-family: 'Gill Sans', sans-serif;
	font-weight: bolder;
	letter-spacing: .5px;
	font-size: 1.1em;
	background: #febf04; /* Old browsers */
	background: -moz-linear-gradient(left, #febf04 0%, #ffd65e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #febf04 0%,#ffd65e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #febf04 0%,#ffd65e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-radius: 100px;
	color: #fff;
}


/* ------- Section decouvrir ------- */
.discover {
	background: url('../img-layout/img-camion.jpg');
	background-size: cover;
	height: 63vh;
	margin-top: 5em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.discover h2,
.discover h3 {
	margin-right: 5%;
	font-family: 'Gill Sans', sans-serif;
	font-size: 2.2em;
	color: #fff;
	line-height: 1.2;
}

.discover h2 { font-weight: lighter; }
.discover h3 { font-weight: bolder; }

.discover a {
	margin: 2% 5% 3% 0;
	padding: 1% 5%;
	background: #fff;
	border-radius: 100px;
	font-style: italic;
	font-weight: bolder;
	letter-spacing: .7px;
}

/* ------- Section download ------- */
#download {
	width: 80%;
	margin: 5em auto 5% auto;
	display: flex;
	padding: 5em 0;
}

#download .stores {
	width: 50%;
	float: left;
}

#download h3 {
	font-family: 'Gill Sans', sans-serif;
	font-size: 1.4em;
}

#download h3 span {
	font-size: 1.8em;
	font-weight: bold;
	padding-bottom: .3em;
}

.home-body .dl {
	float: left;
	margin-top: 10%;
	margin-right: 2em;
}

.dl img {
	border-radius: 100px;
	box-shadow: 0 0 11px 0 rgba(160, 160, 160, 0.2);
}

.home-body .dl>a {
	display: block;
	border-radius: 100px;
	z-index: 8000;
}

.home-body .dl>a+p {
	margin-top: 15%;
	text-align: center;
	font-style: italic;
}

#download .stores-desc {
	font-size: 21px;
	width: 50%;
	float: right;
}


/* ------- Section approch ------- */

#newsletter {
	width: 80%;
	margin: 0 auto 3em auto;
}

#newsletter .visuals {
	width: 40%;
	float: left;
}

#newsletter .caption {
	width: 50%;
	float: right;
	padding-top: 6%;
}

#newsletter .visuals img {
	max-width: 100%;
}

#newsletter h2 {
	font-family: 'Avenir', sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #c0c0c0;
	margin-bottom: .5em;
}

#newsletter p {
	width: 80%;
	font-size: 1.3em;
}

#newsletter form {
	width: 70%;
	margin-top: 2em;
}

#newsletter input[type="email"] {
	display: block;
	border: none;
	background: #F1F1F1;
	padding: .7em 0 .4em 1em;
	box-sizign: border-box;
	width: 65%;
	float: left;
	font-size: 17px;
	font-family: 'Gill Sans', sans-serif;
}

#newsletter input[type="submit"] {
	border: none;
	width: 29%;
	padding: .7em 0 .4em 0;
	box-sizing: border-box;
	font-size: 17px;
	float: left;
	display: block;
	background-image: linear-gradient(84deg, #ffb347, #ffcc33);
	color: #fff;
	font-weight: bold;
	font-style: italic;
	letter-spacing: .6px;
}

/* ---- About main ---- */
.app-presentation {
	background: url('../img-layout/about-mockup-second.png') center no-repeat;
	/* background-size: cover; */
	height: 50vh;
}

.app-presentation h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 2.5em;
}

.app-presentation .dl {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3%;
	font-size: 1.2em;
}

/* ---- About main ---- */
.mentions-body main {
	margin: 5%;
}

.mentions-body h2 {
	font-size: 2.2em;
	margin-bottom: 5%;
	font-weight: bolder;
}

.mentions-body h3 {
	font-size: 1.8em;
	font-weight: bold;
	margin: 3% 0 1.5% 0;
}

.mentions-body p {
	font-size: 1.2em;
}

/* ---- Footer ---- */
footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background: #febf04; /* Old browsers */
	background: -moz-linear-gradient(left, #febf04 0%, #ffd65e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #febf04 0%,#ffd65e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #febf04 0%,#ffd65e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	font-family: 'Gill Sans', sans-serif;
	padding-bottom: 5%;
	color: #fff;
}

footer .container {
	margin: 4% 5% 0 5%;
	border-top: 1px solid #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

footer section {
	width: 20%;
	margin: 1%;
}

footer .container section h3 {
	font-weight: bolder;
	text-transform: capitalize;
}

footer section p a{
	color: #fff;
}

footer .credits {
	margin-top: 2%;
}

@media screen and (max-width: 1350px) {

	#newsletter .caption {
		padding-top: 3%;
	}

	#newsletter p {
		width: 100%;
		font-size: 1.1em;
	}
}

@media screen and (max-width: 1064px) {

	#newsletter .caption,
	#newsletter .visuals,
	#download .stores,
	#download .stores-desc {
		float: none;
		width: 100%;
	}
}
